.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    position: relative;
  }
  
  .modal-header {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .modal-footer {
    background-color: #f1f1f1;
    padding: 10px;
    border-top: 1px solid #dee2e6;
    text-align: right;
  }
  